.container-fluid {
    margin-top: 2rem;
    background-color: #f3f5f6;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.logocss{
    width: 2.7%;
    height: 2.7%;
    object-fit: cover;
    align-items: center;
    margin-left: 0.7rem;
}
.logodash{
    display: flex;
    padding-top: 0.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; 
  }
  body{
    margin-top: 50px; 
  }
  .btmindicator{
   margin-left: 45rem;
  }
.btnindi{   
    margin-top: 1rem;
    border: 1px solid rgb(89, 187, 209);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.2rem;
    padding: 0.3rem;
    background-color:rgb(72, 174, 197);
    color: whitesmoke;

}
.loginbtn{
  border-radius: 50%;
    border: 1px solid rgb(22, 140, 225);
    text-align: center;
    font-size: larger;
    margin-left: 0.8rem;
    height: 2.2rem;
    width: 2.3rem;
    margin-top: 0.4rem;
    background-color: rgb(225, 250, 241);
}
.bell{
  align-items: center;
  justify-content: center;
margin-top: 0.8rem;
margin-left: 0.8rem;
font-size: larger;
color: gray ;
}

.dashboard {
    border: none;
    display: flex;
    border:  solidrgb(6, 92, 108);
    color: rgb(6, 92, 108);
   background-color: rgb(221, 244, 248);
   align-items: center;
  border-left: 5px solid rgb(23, 129, 147);
}
.icondas{
  justify-content: center;
  align-items: center;
  margin-left: 0.7rem;
}
.dash{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  margin-top: 0.6rem;
}
.css-1mv9tfz{
  display: flex;
  background-color: #fff;
  width: 100%;
  border: none;
  color: rgb(88, 90, 90);
  padding: 0 1.2rem;


}
.mv9tfz{
  display: flex;
  background-color: #fff;
  border: none;
  color: rgb(88, 90, 90);
  padding: 0.6rem 1.4rem;
 text-decoration: none;
}
.mv9tfz:hover{
  background-color: rgb(243, 242, 242);
  color: grey;
}
.css-1mv9tfz:hover{
  background-color: rgb(243, 242, 242);
}

.indicatorbox{
  display: flex;
  align-items: center;
  
 cursor: pointer;
}
.indi{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.6rem;
  padding: 0 1rem;
}

.arrow {
margin-left: 1.7rem;
}
.arrow1{
  margin-left: 0.6rem;
}
.dropdown-content {
  background-color: #fff; /* Set your desired background color */
  list-style: none; /* Remove bullet points */
  padding-left: 3rem ;

}

.linking{
  text-decoration: none;
  color: grey;
}
.linking:hover{
  color: grey;
}
.dropdown-content .dropli {
  cursor: pointer;
  list-style: none;
font-weight: 600;
}
 .dropli:hover{
color: rgb(23, 129, 147);
}

.option{
  align-items: center;
  margin-left: 1rem;
  font-size: 600;
}
.optlogo{
  text-align: center;
  color: gray;
display: flex;
}
.optionc{
  margin-left: 15px;
  margin-top: -0.3rem;
}
.dashmain{
  overflow: scroll;
  position: fixed;
}


/* last container */

.astra{
  padding: 0.3rem ;
  font-size: larger;
  font-weight: 500;
}
.container-last{
  margin-right: 0.1rem;
  width: 84%;
  height: 65vh;
  margin-left: 13rem;
  background: #ffffff;
  margin-top:20px;
}
.activimg{
  height: 40px;
  width: 40px;
  margin: 10px;
}
.activtxt{
margin-top: 5px;
  align-items: center;
  font-weight: bold;
}
.first{
  position: relative;
  margin: 0rem 0.8rem;
  width: 100%;  
  height: 50vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 3px rgb(219, 217, 217);
}
.sec{
  margin: 3.5rem 0.6rem;
  width:99%;
  height: 50vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 3px rgb(219, 217, 217);
}
.sec1{
  margin: 3.5rem 0.1rem;
  width:97%;
  height: 50vh;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 3px 3px rgb(219, 217, 217)
}
.activfirst{
  display: flex;
  width: 100%;
  height: 9vh;
  background: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(219, 217, 217);
}
.btncss {
display: inline-block;

}
.btnactiv{
  font-weight: bold;
  margin-right: 0.2rem;
}
.Castrocss{
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
}
.cartoname{
 margin-top:10px;
 margin-left: 0.7rem;
}
.other{
padding-right: 5px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  border-radius: 5px;
  background-color: rgb(226, 246, 249);
}
.ptext{
  margin-left: 1rem;
}
