.container-fluid {
    margin-top: 2rem;
    background-color: #f3f5f6;
    height: 89vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.logocss{
    width: 3%;
    height: 3%;
    object-fit: cover;
    align-items: center;
}
.logodash{
    display: flex;
    padding-top: 0.2rem;
   
  }
  .btmindicator{
   margin-left: 45rem;
  }
.btnindi{   
    margin-top: 1rem;
    border: 1px solid rgb(89, 187, 209);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.2rem;
    padding: 0.3rem;
    background-color:rgb(72, 174, 197);
    color: whitesmoke;

}
.loginbtn{
  border-radius: 50%;
  border: 1px solid rgb(15, 148, 244);
text-align: center;
  font-size: larger;
margin-left: 0.8rem;
height: 2.2rem;
width: 2.3rem;
margin-top: 0.4rem;
background-color: rgb(225, 250, 241);
}
.bell{
  align-items: center;
  justify-content: center;
margin-top: 0.8rem;
margin-left: 0.8rem;
font-size: larger;
color: gray ;
}

.dashboard {
    border: none;
    display: flex;
    border:  solidrgb(6, 92, 108);
    color: rgb(6, 92, 108);
   background-color: rgb(221, 244, 248);
   align-items: center;
  border-left: 5px solid rgb(23, 129, 147);
}
.icondas{
  justify-content: center;
  align-items: center;
  text-align: center;
 margin-left: 0.8rem;
}
.dash{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  margin-top: 0.6rem;
}
.css-1mv9tfz{
  display: flex;
  background-color: #fff;
  width: 100%;
  border: none;
  color: rgb(88, 90, 90);
  padding-left: 1.1rem;
}
.css-1mv9tfz:hover{
  background-color: rgb(243, 242, 242);
}

.indicatorbox{
  display: flex;
  align-items: center;
  
 cursor: pointer;
}
.indi{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.6rem;
  padding: 0 1rem;
}

.indicatorbox .arrow {
  margin-left: auto;
}

.dropdown-content {
  background-color: #fff; /* Set your desired background color */
  padding: 5px; /* Adjust padding as needed */
  list-style: none; /* Remove bullet points */
  padding-left: 3rem;
}

.dropdown-content .dropul {
  padding: 0;
  margin: 0;
}

.dropdown-content .dropli {
  padding: 5px 0; /* Add padding to each list item */
  cursor: pointer;
  list-style: none;
font-weight: 600;
}
 .dropli:hover{
color: rgb(23, 129, 147);
}

.option{
  align-items: center;
  margin-left: 1rem;
  font-size: 600;
}
.optlogo{
  align-items: center;
}