  .first-heading{
    margin-left: 320px;
    margin-top: 10px;
  }
  .graphtable{
    border: 1px solid gray;
    width: 50%;
    margin-left: 320px;
    border-radius: 20px;
  }
  .graphtr{
    font-weight: 500;
    border:1px solid rgb(197, 196, 196);
  }
  .graphth{
    padding: 10px;
    font-size: 15px;
  }
  .graphtd{
    padding-left: 10px;
    padding-bottom: 0;
  }
.colorgreen{
  color: rgb(8, 136, 136);
  font-size: 15px;
}
.coloradd{
  margin-left: 25px;
  color: rgb(13, 112, 58);
  cursor: pointer;
}
.paginateBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.page, .break, .previous, .next {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.active {
  /* color: #14e8ec; */
}
.selected-data{
  border: 1px solid rgb(198, 196, 196);
  width: 20%;
  height: 20vh;
  margin-left: 320px;
}
.closebtn{
  background: #dfe0e0;
  margin-left: 35rem;
  padding: 10px  20px;
  border-radius: 10px;
  font-weight: bold;
font-size: larger;
margin-top: 90px;
}
.closebtn:hover{
background-color: aquamarine;
}
.marketsize{
  font-size: 15px
}